.site-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  background: #0d0727; /* add this */
}

.custom-navbar{
  background: transparent !important; /* make nav itself transparent */
  width:100%;
  box-shadow:0 4px 18px rgba(0,0,0,0.08);
}

.nav-link{
  padding:0 !important;
  margin:0 !important;
  font-weight:500;
  font-size:15px !important;
  color:rgb(188,188,188) !important;
  transition:0.2s;
}

.nav-link:hover{
  color:#FA1377 !important;
}

.navbar-nav{
  margin-left:auto;
  gap:40px;
  padding:0;
}

.custom-collapse{
  display:flex;
  flex-grow:1;
  justify-content:flex-end;
}

.navbar-toggler{
  border:none !important;
  box-shadow:none !important;
}

.navbar-toggler-icon{
  filter:invert(1);
}

@media (max-width:991px){

  .custom-collapse{
    display:none;
    width:100%;
    padding-bottom:20px;
  }

  .custom-collapse.show{
    display:block;
  }

  .navbar-nav{
    gap:18px;
    margin-top:20px;
    align-items:flex-start;
  }

  .nav-link{
    padding:8px 0 !important;
  }
}

.custom-nav-container{
  max-width:1160px !important;
}